$background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
$links-color: yellow; 
$background-card: blue;

body {
    background-color: hsl(185, 75%, 39%);
    background-image: $background-image;
    background-size: 45vh,45vh;
    background-position-x: -20vh, 50vw;
    background-position-y: 0vh, 60vh;
    background-repeat: no-repeat, no-repeat;
}

@media (min-width: 600px) {
    body {
      background-color: red;
    }
  }


